<svg #svg>
  <svg:g>
    <ng-container *ngFor="let st of boardPanel">
      <svg:rect [attr.x]="st.x" [attr.y]="st.y" [attr.width]="st.width" [attr.height]="st.height"
                [attr.fill]="st.bgColor" />
    </ng-container>
    <ng-container *ngFor="let st of coverPanel">
      <svg:rect [attr.x]="st.x" [attr.y]="st.y" [attr.width]="st.width" [attr.height]="st.height"
                [attr.fill]="st.bgColor" [attr.fill-opacity]="st.opacity" (click)="change(st.index)"
                (mouseover)="mouseover(st.index)" (mouseout)="mouseout(st.index)" />
    </ng-container>
    <ng-container *ngFor="let st of stonePanel; index as i">

      <svg:circle *ngIf="stone[i] == 'Black'" [attr.cx]="st.x" [attr.cy]="st.y" [attr.r]="st.r" fill="black"
                  stroke="white" [attr.stroke-width]="st.strokeWidth" />
      <svg:circle *ngIf="stone[i] == 'White'" [attr.cx]="st.x" [attr.cy]="st.y" [attr.r]="st.r" fill="white"
                  stroke="black" [attr.stroke-width]="st.strokeWidth" />
    </ng-container>
  </svg:g>
</svg>
